 *{
  margin: 0;
  padding: 0;
 }
 body{
    background-color: rgb(246, 246, 246);
}
  




#main{
  position: relative;
 width: 100%;
overflow: hidden;


}
#main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(23, 35, 61, 0.35);
}

#main img{
   width: 100%;
   
       object-fit: cover;
}






#border_onda{
  background-color:  rgb(246, 246, 246);
  width: 100%;
  height: 40px;
  margin-top: -10px;
 
 
}
  
.onda{
    position: relative;
    margin-top: -35px;
    height: 45px;
   
}

.onda svg{
    display: block;
    width: 100%;
    height: 35px;
    
}

.topo{
    background:#beb8b8;
}

.onda-topo{
    width:100%;
    height:80px;
    display:block;
}


/* menu */

#nav_group{
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    

   background-color: #ffffff24;
box-shadow: 0 2px 15px rgba(0, 0, 0, 0.122);
    

    z-index: 1000;
}

#nav_group a{
  color:#1F2A44 ;
  font-weight: 600;
  display: inline;
 margin-top: 350px;
}
#nav_group a:hover{
  border-bottom:2px solid #D4AF37;
  color: #e6e0e0;
}
#logo_img{
  width: 100px;
margin-left:15px;

}
#area_logo{
  display: flex;
  text-align:left;
    
}
#area_logo div{
margin-top: 10px;
  margin-left: 15px;
  color: #1F2A44;
  font-weight: 500;
  
}
#cross_logo{
  width: 40px;
  margin-left: 10px; 
}

 .hamburguer_menu button{
  color: #919ba8;
  background-color: #1F2A44;

 }
 .navbar button{
margin-left:auto;
margin-top:-90px;
}

.navbar{
  text-align: right;
  margin-right: 15px;
}

 
 /* fim menu */


/* nossa historia*/

.traço_historia{
  width: 100px;
  height: 1px;
  background-color: #D4AF37;
  margin-top: 10px;
}
.linhas_historia{
 display: flex;
 
 margin-bottom: -40px;
  gap:10px;
}
.linha_do_tempo{
 display: flex;
 justify-content: center;
 margin-bottom: -40px;
  gap:10px;
}


#apresentação{

  position: absolute;
  top: 35%;
  left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
}
#apresentação_textos{
    margin-top: 120px;
   

}

#apresentação h2 {
  
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Times New Roman', Times, serif;
}

#apresentação button{
  
  background-color: #D4AF37;
  align-self: center;
  border-radius: 8px;
  display: flex;
  font-size: 18px;
}



#apresentação a{
  text-decoration: none;
    color:  white;
}
#apresentação button:hover{
box-shadow: 0px 0px 1px 1px whitesmoke;
}

/* nossa historia e linha do tempo*/

#Anconrasobre{
  background-color: #fff6e16e;
}

#card_linha_do_tempo{
  margin-top: -13px;
  padding-top: 90px;
  padding-bottom: 30px;
 

}
.timeline {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    gap: 20px;
    margin: 80px 0;
    margin-left: 25px;
    margin-right: 25px;
}

/* Linha horizontal */
.timeline::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 10%;
    width: 80%;
    height: 4px;
    background: #c9a227;
}

.evento {
    text-align: center;
    position: relative;
}
.evento img{
  position: relative;
}

.ponto {
    width: 17px;
    height: 17px;
    background: #c9a227;
    border-radius: 50%;
    margin: 14px auto 10px;
    position: relative;
    z-index: 2;
}

.ano{
font-weight: bold;
margin-top: 10px;
font-size: 1.1rem;
color: #1F2A44;
}
.resumo{
  font-weight: 400;
  font-size: 1.1rem;
  
}

@media (max-width: 768px) {
    .timeline {
        grid-template-columns: 1fr;
    }

    .timeline::before {
        
    top: 20px;
    left: 44px;
    width: 4px;
    height: 960px;
    }

    .evento {
        margin-bottom: 20px;
    }
    .ponto{
      position: absolute;
      margin-left: 37px;
    }
}

/*nossa historia */
#nossa_historia{
  margin-top: -8px;
  padding-top: 100px;
  padding-bottom: 50px;
}
#nossa_historia img{
  
  border-radius:5px;
  margin: 15px;
  box-shadow: 0px 0px 5000px #ffffff;
}

#texto_historia{
 
  margin-left: 50px;

}



@media (max-width: 568px) { 
  #nossa_historia img {
   width: 420px;  
  }
  #texto_historia p{
    margin-left: -40px;
    margin-right: 110px;
   
  }
 }
/*fim nossa historia e linha do tempo*/

#galeria{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
}
.btngaleria{
  border:1px solid  #D4AF37;
  align-self: center;
  border-radius: 0px; 
}
 .btn:hover{
   background:#D4AF37;
   color: black;
}
.btn a{
  text-decoration: none;
  color:#D4AF37;

}
.btn a:hover{
  color:black;
}

.palavra{
 font-size:25px ;
}

.Santissimo_margin{
  margin-top: -30px;
}
.sacramento{
  font-size: 5rem;
   color:  #ffffff;
   font-weight: 200;
   
}
.sacramento_margin{
  margin-top: -40px;

}
.Airmandade{
  font-size: 3em;
  color:#D4AF37;
}

#apresentação p {
  text-align: center;
  color: white;
  margin-top: 25px;
  font-size: 1.5rem;
  font-weight: 400;
}

.palavras_linhas{
 display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.icon_fe{
margin-top: 9px;
  color:#D4AF37 ;
  font-size: 11px;

}
.traço_fe{
  width: 50px;
  height: 1px;
  background-color: #D4AF37;
  margin-top: 9px;
}

.traço_grande{
  margin-bottom: 70px;
  width: 170px;
  height: 1px;
 background-color: #D4AF37;
}
.icon_meio{
  margin-bottom: 70px;
  color:#D4AF37 ;
  font-size: 13px;
}

@media (min-width:1500px) {
 .sacramento{
  font-size: 6rem;
 }
.Airmandade{
  font-size: 6rem;
}
  }




#sectionSobre{
  
  margin-top: 150px;
  text-align: center;
  
}

#nossa{
  color:#994705;
  font-weight:250;
  margin-bottom: 25px;

}
#sobre{
  color: black;
  font-weight:450;
}
#paroquia{
  color:#994705;
  font-weight: 450;
  margin-bottom: 20px;
}
.traço{
  color:#994705;
  margin-bottom: 40px;
  
}



.igreja img{
  margin-bottom: 15px;
border-radius: 9px;  
}
.igreja{
  padding: 5px;
  padding-top: 15px;
  box-shadow: 0px 0px 1px #f5b87c;

}

/*nossa Misão  */
#nossa_missao{
  position: relative;
  width: 100%;
  display: block;
  
}

#nossa_missao img{
width: 100%;
height: 1005;
display: flex;
}

#missao_conteudo{
  margin-top: 130px;
  margin-left: 130px;
   position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);

    color: white;
    text-align: center;
   
}
#missao_conteudo h2{
  color: #ffffff;
  font-weight: 400;
}



#nossa_missaoIMG::before {
    content: "";
    position: absolute;
    inset: 0;
    
}
#missao_frase{
  margin-top: -70px;
  
}

.aspas_grande{
  font-size: 50px;
  margin: 5px;
 color: #D4AF37; 

}


@media (max-width: 768px) { 
#nossa_missaoIMG img{

 height: 250px;
}
.aspas_grande{
  font-size: 40px;
}
#missao_conteudo p{
  margin: -1px;
 font-size: 15px;
  

   
}
#missao_conteudo{
  margin-top: 110px;
   margin-left: 50px;
}
 }

/*Fim nossa missão */

/*CARDS 3*/
#quadros{

  margin-top: 130px;
}

.cards {
  border: 1px solid rgb(151, 150, 150);
 margin: 10px;
 background: rgb(250, 249, 249);
 box-shadow: 0px 0px 2px  rgba(0, 0, 0, 0.836);
 border-radius: 3px;
 padding: 20px;

}







i{
  color:#994705 ;
}

.cards i {
  font-size: 35px;
  width: 50px;
  height: 50px;
}




@media (max-width: 568px) { 

 }










/* rodape */
footer{

  background-color: #1a1a1a;
}

footer img{
  
  margin: 35px;
  height: 70px;
  max-width: 70px;
  border-radius: 50%;
}

#logo{
  display: flex;
 
}
#Irmandade{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
.Santissimo{
  font-family: 'Times New Roman', Times, serif;
  color: #D4AF37;
}
#footerh2{
  margin-top: 36px;
}
#footerpara{
  margin-left: 15px;
  color:rgb(216, 213, 213);
}

.h2footer{
  margin-left: 15px;
  margin-top: 35px;
  color: #D4AF37;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
}

.nav-link{
   color: rgb(216, 213, 213);
   font-size: 1.1rem;
}

#menufooter :hover{
  color: white;
}

.insta{
  font-size: 35px;
  margin-left: 15px;
  border-radius: 50%;
  color:rgb(216, 213, 213);
}


 footer a :hover{
  color: #D4AF37;
}

#direitos{
  text-align: center;
  color: rgb(216, 213, 213);
}


/* fim rodape */
 



/* media queres (Igreja - Fotos */ 
@media (max-width:650px) and (min-width:460px){
  #texto-section p{
    width: 450px;

  }
 
  .nav-toggler{   
    background-color: #994705;
   display: flex;
   border:1px solid red;
   
  }

 
 
  .Igreja{
    margin-top: 1px;
  }

}
@media(min-width:868px){



 #texto-section p{
  width: 900px;
 }
 .Igreja{
  margin-top: 1px;
}
}
@media (max-width:650px){
  
  .Igreja{
    margin-top: 1px;
    width: 560px;
    height: 300px;
   
  }
}
/*FIM media queres (Igreja - Fotos */ 



